.abc{
    height: 100px;
    margin: 10px;
    background-color: cornsilk;
    padding: 0%;
}
.pqr{
    background-color:rgba(red, rgb(107, 221, 107), blue, alpha )!important;
    text-align: center;
}